img {

height: 200px;
width: 200px;

}

#red {
    color:red
}

#blue {
    color:blue
}

#green {
    color:green
}

#orange {
    color:orange
}

#yellow {
    color:yellow
}

body{
    background-color: antiquewhite;
}

h1{
    color:whitesmoke;
    background-color: darkseagreen;
}

h2{
    color: #FAF8F1;
    background-color: #C58940;
}