img {
height: 100px;
width: 100px;
}

html{
    font: size 30px;
}

body{
    background-color: antiquewhite;

}

h1{
    color:whitesmoke;
    text-align: center;
    background-color: darkseagreen;
    font-size: 48px;
}

h2{
    color: #FAF8F1;
    background-color: #C58940;
}

div {
    height: 200px;
    width: 200px;
}


#red {
    text-align: center;
    font-family: 'Caveat', cursive;
    font-size: 3rem;
    color:red
}

#blue {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 34px;
    color:blue
}

#green {
    font-weight: 700;
    text-align: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:green
}

#orange {
    text-align: left;
    font-size: 42px;
    color:orange
}

#yellow {
    font-size: 2rem;
    text-align:right;
    color: yellow
}

.boxmodel1 {
    background-color: cadetblue;
    padding: 20px;
    border: 10px solid black;
}

.boxmodel2 {
    background-color: gold;
    border: solid black;
    border-width: 20px 10px;
    margin-left: 260px;
}

.boxmodel3 {
    background-color: indianred;
    border: 10px solid black;
    margin-left: 40px;
}

.mainlinks {
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: justify;
    text-decoration: underline;
    color: rgb(255, 127, 127);
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 1.6;
    text-indent: 20px;
}

